<div class="col-sm-4 footer-column">
  <h1>
    #TodosConectados
  </h1>
  {{#link-to "privacy-policy"}}
    {{fa-icon "file-alt"}}
    Política de Privacidad
  {{/link-to}}
</div>
<div class="col-sm-4 footer-column">
  <h1>
    {{fa-icon 'address-book'}}
    Contacto
  </h1>
  <div class="address-column">
    <a class="social" href="https://twitter.com/SoporteGurucomm" target="_blank">
      {{fa-icon "twitter" prefix="fab"}}
    </a>
    <a class="social" href="https://www.facebook.com/GuruCommMX" target="_blank">
      {{fa-icon "facebook" prefix="fab"}}
    </a>
    <a class="social" href="https://www.linkedin.com/company/gcomm" target="_blank">
      {{fa-icon "linkedin" prefix="fab"}}
    </a>
    <a class="social" href="https://github.com/todosconectados/api" target="_blank">
      {{fa-icon "github" prefix="fab"}}
    </a>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-sm-4 footer-column">
  <p>
    Copyright © 2020 <a href="http://todosconectados.org" target="_blank">Todos Conectados</a>
  </p>
  <p>
    Hecho con {{fa-icon 'heart'}} en México
  </p>
</div>
