{{#base-layout}}
<div class="index-view">
  <section class="slider container-fluid">
    <div class="container">
      <div class="col-sm-5 highlight-image hidden-xs">
        <img class="img-responsive" src="/assets/images/highlight.png"
        alt="Todos Conectados">
      </div>
      <div class="col-sm-7 highlight">
        <h1>
          Servicio <strong>gratuito </strong>de conferencias telefónicas.
        </h1>
        <div class="line-slider"></div>
        <h2>
          Iniciativa social para <strong>facilitar el trabajo remoto</strong>
          como respuesta a la contingencia del virus Covid-19.
        </h2>
        <div id="how" class="btn-container row">
          <div class="btn-wrapper col-xs-6">
            <a href="#" class="btn btn-white btn-block">
              {{fa-icon 'question-circle'}} ¿CÓMO FUNCIONA?
            </a>
          </div>
          <div class="btn-wrapper col-xs-6">
            {{#link-to "sign-up" class="btn btn-white btn-block"}}
              {{fa-icon 'plus-circle'}} QUIERO MI NÚMERO
            {{/link-to}}
          </div>
        </div>
      </div>
      <div class="col-sm-5 highlight-image visible-xs">
        <img class="img-responsive" src="/assets/images/highlight.png"
        alt="Todos Conectados">
      </div>
    </div>
  </section>
  <section id="how-it-works" class="container-fluid site-section">
    <div class="container">
      <h1>¿Cómo <strong>funciona</strong>?</h1>
      <div class="line-gray"></div>
      <div class="row">
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/signup_tc.png" alt="Registrate">
          <h2>Regístrate</h2>
          <p class="text-center">
            Completa tu registro en línea en <strong>3 minutos.</strong>
          </p>
        </div>
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/number_tc.png" alt="Obtén tu número privado">
          <h2>Obtén tu número privado</h2>
          <p class="text-center">
            Te asignamos un número teléfonico <strong>al instante</strong> y un <strong>código de acceso.</strong>
          </p>
        </div>
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/share_tc.png" alt="Compártelo">
          <h2>Compártelo</h2>
          <p class="text-center">
            Envía el número y código de acceso  a tus compañer@s de trabajo y podrán tener
            <strong>conferencias ilimitadas.</strong>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="work-from-home"  class="container-fluid site-section primary">
    <div class="container">
      <h1>Trabaja desde <strong>casa</strong></h1>
      <div class="line-title"></div>
      <h2>Aumenta tu <strong>productividad</strong> y mantente <strong>conectad@</strong></h2>
      <div class="row steps">
        <div class="col-sm-6 img-highlight">
          <img src="/assets/images/homeoff.png" class="img-responsive" alt="Trabaja desde casa">
        </div>
        <div class="col-sm-6">
          <div class="step">
            <img src="/assets/images/app_tc.png" class="img-responsive">
            <h3>
              Sin instalación de apps externas o uso de tus datos celulares.
            </h3>
          </div>
          <div class="step">
            <img src="/assets/images/collab_tc.png" class="img-responsive">
            <h3>
              Todas las conferencias son <strong>gratuitas e ilimitadas</strong>, invita hasta
              5 compañer@s de manera simultánea.
            </h3>
          </div>
          <div class="step">
            <img src="/assets/images/communication_tc.png" class="img-responsive">
            <h3>
              Mantén a tu <strong>equipo comunicado</strong> dónde quiera que estés.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="container-fluid site-section">
    <div class="container">
      <h1>Iniciativa social sin <strong>fines de lucro</strong></h1>
      <div class="line-gray"></div>
      <h2>
        Somos un equipo multidisciplinario cuyo objetivo es
        <strong>incrementar la productividad</strong>
        de todos los trabajadores mexican@s a través de la tecnología.
      </h2>
      <div class="row">
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/opensource_tc.png" alt="Código Abierto">
          <h3>Open Source</h3>
          <p class="text-center">
            Código alojado en <strong>Github</strong> con apertura a colaboración global de cualquier developer.
            <br />
            <a href="https://github.com/todosconectados/api" class="btn btn-primary" target="_blank">
              {{fa-icon "github" prefix="fab"}}
              Únete al proyecto
            </a>
          </p>
        </div>
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/team.png" alt="¿Por qué es gratis?">
          <h3>¿Por qué es gratis?</h3>
          <p class="text-center">
            La iniciativa es apoyada por empresas de <strong>telecomunicaciones</strong>
            que otorgan el servicio gratuito de voz.
          </p>
        </div>
        <div class="element col-sm-4">
          <img class="img-responsive" src="/assets/images/telecom_tc.png" alt="¿Por qué telefonía">
          <h3>¿Por qué telefonía?</h3>
          <p class="text-center">
            Las redes celulares de voz tienen un despliegue de 93% a nivel nacional.
            La mayoría de los mexicanos pueden utilizar este servicio <strong>sin datos</strong>.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="sponsors" class="container-fluid site-section light">
    <div class="container">
      <h1>Patrocinadores</h1>
      <div class="line-gray"></div>
      <h2>Agradecemos el apoyo de las empresas y orgnizaciones que hacen este proyecto posible</h2>
      <div class="row">
        <div class="col-sm-4">
          <a href="https://internet.gurucomm.mx" target="_blank">
            <img class="img-responsive" src="/assets/images/GC_tc.png" alt="GurúComm">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://haz.com.mx/" target="_blank">
            <img class="img-responsive" src="/assets/images/HAZ_tc.png" alt="HAZ">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://thegurucompany.com" target="_blank">
            <img class="img-responsive" src="/assets/images/TGC_tc.png" alt="The Guru Company">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="container site-section">
    <h1>Contacto</h1>
    <div class="line-gray"></div>
    <h2>Preguntas, colaboraciones, prensa y atención general.</h2>
    {{#bs-form onSubmit=(action 'formOnSubmit') autocomplete="off" as |form|}}
      <div class="fieldset">
        <div class="row">
          <div class="col-sm-6 form-group">
            {{bs-input model=lead controlType="text" label="Nombre Completo*"
            placeholder="Martha" property="name" formIsSubmitted=formIsSubmitted}}
          </div>
          <div class="col-sm-6 form-group">
            {{bs-input model=lead controlType="text" label="Empresa/Organización*"
            placeholder="López" property="businessName" formIsSubmitted=formIsSubmitted}}
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-6 form-group">
            {{bs-input model=lead controlType="email" label="Correo electrónico*"
            placeholder="juan@ejemplo.com" property="email" formIsSubmitted=formIsSubmitted}}
          </div>
          <div class="col-sm-6 form-group">
            {{bs-input model=lead controlType="telephone" label="Teléfono*"
            placeholder="5533001122" property="phone" formIsSubmitted=formIsSubmitted}}
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 form-group">
            {{bs-textarea model=lead controlType="text" label="Comentarios*"
            property="coverLetter" formIsSubmitted=formIsSubmitted}}
          </div>
          <div class="col-sm-12 form-actions">
            {{g-recaptcha onSuccess=(action "onCaptchaResolved")
              hl="es"
              onExpired=(action 'onCaptchaExpired')
              ref=(mut gRecaptcha)
            }}
            {{#bs-checkbox model=lead property="privacyAcceptance" formIsSubmitted=formIsSubmitted}}
              Acepto el <a href="#" onclick={{action "privacyPolicyClicked"}}>Aviso de Privacidad</a>
            {{/bs-checkbox}}
            {{bs-button class=submitBtnCls defaultText="Enviar" type="primary" buttonType="submit"}}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {{/bs-form}}
  </section>
</div>
{{/base-layout}}
{{#gcomm-dialog open=showDialog.privacyPolicy title="Aviso de Privacidad"}}
  {{privacy-policy}}
{{/gcomm-dialog}}
