{{#base-layout}}
  <div class="sign-up-view">
    <section class="slider">
      <section class="container">
        <div class="col-sm-5 highlight-image hidden-xs">
          <img src="/assets/images/highlight.png" class="img-center"
          alt="Todos Conectados" >
          <!-- {{#link-to 'vista'}}
            <img src="/assets/images/highlight.png" class="img-center"
            alt="Todos Conectados" >
          {{/link-to}} -->
        </div>
        <div class="col-sm-7 highlight">
          <h1>
            Servicio <strong>gratuito </strong>de conferencias electrónicas
          </h1>
          <div class="line-slider"></div>
          <h2>
            Iniciativa social para <strong>facilitar el trabajo remoto</strong>
            como respuesta a la contingencia del virus Covid-19.
          </h2>
          <div class="btn-container">
            <div class="btn-wrapper col-sm-6 col-xs-12">
              <a href="#" class="btn btn-white btn-block">
                {{fa-icon 'question-circle'}} ¿CÓMO FUNCIONA?
              </a>
            </div>
            <div class="btn-wrapper col-sm-6 col-xs-12">
              <a href="#" class="btn btn-white btn-block">
                {{fa-icon 'plus-circle'}} OBTENER MI NÚMERO
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 highlight-image visible-xs">
          <!-- {{#link-to 'long-term-promos'}}
            <img src="/assets/images/highlight_marzo.png" class="img-center"
            alt="Proyecto social Todos Conectados" >
          {{/link-to}} -->
        </div>
      </section>
    </section>
    <section class="container-fluid light-gray">
      <div class="container">
        <h1>¿Cómo <strong>funciona</strong>?</h1>
        <div class="line-gray"></div>
        <div class="row" >
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/signup_tc.png" alt="Registrate">
            </div>
            <p class="text-center"><b>Regístrate</b><br>Completa tu registro en línea en <strong>3 minutos.</strong></p>
          </div>
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/number_tc.png" alt="Obtén tu número privado">
            </div>
            <p class="text-center"><b>Obtén tu número privado</b><br>
            Te asignamos un número teléfonico <strong>al instante</strong> y un <strong>código de acceso.</strong></p>
          </div>
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/share_tc.png" alt="Compártelo">
            </div>
            <p class="text-center"><b>Compártelo</b><br>
            Envía el número y código de acceso  a tus compañer@s de trabajo y podrán tener
            <strong>conferencias ilimitadas.</strong></p>
          </div>
        </div>
      </div>
    </section>
  <section class="container-fluid light-primary">
      <div class="container">
        <h1><br>Trabaja desde <strong>casa</strong></h1>
        <div class="line-title"></div>
        <h2>Aumenta tu <strong>productividad</strong> y mantente <strong>conectad@</strong></h2>
        <div class="row padd-top">
          <div class="col-sm-6">
            <img src="/assets/images/homeoff.png" class="homeoff-high" alt="Trabaja desde casa">
          </div>
          <div class="col-sm-6">
            <div class="container-icons-steps">
              <div class="container-steps">
                <img src="/assets/images/app_tc.png" class="icon-step">
                <h2>
                Sin instalación de apps externas o uso de tus datos celulares.
                </h2>
              </div>
              <div class="container-steps">
                <img src="/assets/images/collab_tc.png" class="icon-step">
                <h2>
                Todas las conferencias son <strong>gratuitas e ilimitadas</strong>, invita hasta
                5 compañer@s de manera simultánea.
                </h2>
              </div>
              <div class="container-steps">
                <img src="/assets/images/communication_tc.png" class="icon-step">
                <h2>
                Manten a tu <strong>equipo comunicado</strong> dónde quiera que estés.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="container-fluid light-gray">
      <div class="container">
        <h1>Iniciativa social sin <strong>fines de lucro</strong></h1>
        <div class="line-gray"></div>
        <h2>Somos un equipo multidisciplinario cuyo objetivo es <strong>incrementar
        la productividad</strong> de todos los trabajadores mexican@s a través de la
        tecnología.</h2>
        <div class="row" >
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/opensource_tc.png" alt="Código Abierto">
            </div>
            <p class="text-center"><b>Código abierto</b><br>Código alojado
              en Github con apertura a colaboración global de cualquier developer.</p>
          </div>
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/team.png" alt="¿Por qué es gratis?">
            </div>
            <p class="text-center"><b>¿Por qué es gratis?</b><br>
            La iniciativa es apoyada por empresas de <strong>telecomunicaciones</strong>
            que otorgan el servicio gratuito de voz.</p>
          </div>
          <div class="col-sm-4">
            <div class="icons-description center-items">
              <img src="/assets/images/telecom_tc.png" alt="¿Por qué telefonía">
            </div>
            <p class="text-center"><b>¿Por qué telefonía?</b><br>
            Las redes celulares de voz tienen un despliegue de 93% a nivel nacional.
            La mayoría de los mexicanos pueden utilizar este servicio <strong>sin datos</strong>.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid" style="background-color:#f5f5f5">
        <div class="container">
          <h1><br>Patrocinadores</h1>
          <div class="line-gray"></div>
          <div class="row" >
            <div class="col-sm-4">
              <div class="icons-description center-items">
                <img src="/assets/images/GC_tc.png" alt="GurúComm">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icons-description center-items">
                <img src="/assets/images/HAZ_tc.png" alt="HAZ">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icons-description center-items">
                <img src="/assets/images/TGC_tc.png" alt="The Guru Company">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container contact-container">
        <h1><br>Contacto</h1>
        <div class="line-gray"></div>
      </section>

      <section class="container-fluid light-gray">
        <div class="container signup-form single">
          {{#bs-form onSubmit=(action 'formOnSubmit') autocomplete="off" as |form|}}
            <div class="fieldset">
              <div class="row">
                <div class="col-sm-6 form-group">
                  {{bs-input model=jobApplication controlType="text" label="Nombre Completo*"
                    placeholder="Diego Amieva" property="name" formIsSubmitted=formIsSubmitted}}
                </div>
                <div class="col-sm-6 form-group">
                  {{bs-input model=jobApplication controlType="text" label="Empresa/Organización*"
                    placeholder="GurúComm" property="lastName" formIsSubmitted=formIsSubmitted}}
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 form-group">
                  {{bs-input model=jobApplication controlType="email" label="Correo Electrónico*"
                    placeholder="diego@ejemplo.com" property="email" formIsSubmitted=formIsSubmitted}}
                </div>
                <div class="col-sm-6 form-group">
                  {{bs-input model=jobApplication controlType="telephone" label="Teléfono*"
                    placeholder="5533001122" property="phone" formIsSubmitted=formIsSubmitted}}
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 form-group">
                  {{bs-textarea model=jobApplication controlType="text" label="Comentarios*"
                    property="coverLetter" formIsSubmitted=formIsSubmitted}}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 form-group legal">
              {{g-recaptcha onSuccess=(action "onCaptchaResolved")
                hl="es"
                onExpired=(action 'onCaptchaExpired')
                ref=(mut gRecaptcha)
              }}
              {{#bs-checkbox model=jobApplication property="privacyAcceptance" formIsSubmitted=formIsSubmitted}}
                Acepto el <a href="#" onclick={{action 'privacyPolicyClicked'}}>Aviso de Privacidad.</a>
              {{/bs-checkbox}}
            </div>
            <div class="clearfix"></div>
            <div class="actions">
              {{bs-button class=submitBtnCls defaultText="Enviar" type="primary" buttonType="submit"}}
              <div class="clearfix"></div>
            </div>
          {{/bs-form}}
        </div>
      </section>
  </div>
{{/base-layout}}
