{{#base-layout}}
<div class="signup-view container-fluid">
  <div class="container">
    <h1>Registro</h1>
    <div class="line-gray"></div>
    <h2>
      Registrate en <strong>3 minutos</strong> y activa tu número personal de conferencias.
    </h2>
    {{signup-steps
      selectedIndex=1}}
    <div class="container signup-form single">
      {{#bs-form onSubmit=(action 'formOnSubmit') autocomplete="off" as |form|}}
        <div class="row">
           <div class="col-sm-6">
             {{bs-input model=user controlType="text" label="Nombre*"
               placeholder="Martha" property="name" formIsSubmitted=formIsSubmitted}}
           </div>
           <div class="col-sm-6">
             {{bs-input model=user controlType="text" label="Apellidos*"
               placeholder="López García" property="lastNames" formIsSubmitted=formIsSubmitted}}
           </div>
           <div class="clearfix"></div>
           <div class="col-sm-6">
             {{bs-input model=user controlType="text" label="Correo Electrónico*"
               placeholder="martha@ejemplo.com" property="email" formIsSubmitted=formIsSubmitted}}
           </div>
           <div class="col-sm-6">
             {{bs-input model=user controlType="text" label="Celular*"
               placeholder="10 dígitos" property="phone" formIsSubmitted=formIsSubmitted}}
           </div>
           <div class="clearfix"></div>
           <div class="col-xs-12 form-actions">
             {{g-recaptcha onSuccess=(action "onCaptchaResolved")
               hl="es"
               onExpired=(action 'onCaptchaExpired')
               ref=(mut gRecaptcha)
             }}
             {{#bs-checkbox model=user property="privacyAcceptance" formIsSubmitted=formIsSubmitted}}
               Acepto el <a href="#" onclick={{action "privacyPolicyClicked"}}>Aviso de Privacidad</a>
             {{/bs-checkbox}}
             {{#bs-checkbox model=user property="termsAndConditionsAcceptance" formIsSubmitted=formIsSubmitted}}
               Acepto la <a href="#" onclick={{action "termsAndConditionsClicked"}}>Política de Uso Justo y Política Anti Fraude</a>
             {{/bs-checkbox}}
             {{bs-button class=submitBtnCls defaultText="Enviar" type="primary" buttonType="submit"}}
           </div>
           <div class="clearfix"></div>
        </div>
      {{/bs-form}}
    </div>
  </div>
</div>
{{/base-layout}}
{{#gcomm-dialog open=showDialog.privacyPolicy title="Aviso de Privacidad"}}
  {{privacy-policy}}
{{/gcomm-dialog}}
{{#gcomm-dialog open=showDialog.termsAndConditions title="Política de Uso Justo/Anti Fraude"}}
  {{terms-and-conditions}}
{{/gcomm-dialog}}
{{#gcomm-dialog open=showDialog.invalidSignup title="Ocurrió un error"}}
  <div class="text-center">
    <h3>Tu registro no pudo ser completado</h3>
    <p>Revisa tus campos e intenta nuevamente</p>
  </div>
{{/gcomm-dialog}}
